body{
    font-family: 'Montserrat', sans-serif;
    background-color: #231E39;
}

.background{
    display: flex;
	align-items: center;
	flex-direction: column;
    margin: 35px;
}

.card{
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
    width: 300px;
    color: rgb(228, 222, 222);
}

.card:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;    
}

.img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
    margin-top: 20px;
}

h3{
    margin: 10px 0;
}

h6{
	margin:5px 0;
	text-transform: uppercase;
}

p{
	font-size:14px;
	line-height: 21px;
}

a { 
    text-decoration:none;
    color: black;
}

.upper-container{
    text-align: center;
}

.button{
    background-color:#03BFCB;
	border:1px solid #03BFCB;
	border-radius: 3px;
    text-decoration: none;
	color:#231E39;
	font-weight: 500;
	padding: 10px 25px;
}

.skills{
	background-color:#1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 5px;
}

.skills ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li{
    border: 1px solid #2D2747;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 8px;
}

.container-social-icons{
    width: 95%;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.social-icons{
    display: flex;
    align-items: center;
    padding: 2px;
    list-style: none;
} 

.share{
    width: 3rem;
    height: 2rem;
    margin: .5rem 1rem .5rem 0;
    transition: 250ms;
}

#pag{
    position: relative;
}
  
#footer{
    color: white;
    position: relative;
    top: 185px;
}